*{
    margin:0%;
    padding:0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
box-sizing: border-box;

}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: -webkit-image-set(url(assets/arq.jpg));
    background-size: cover;
    background-repeat: no-repeat;


}


.conteiner{
width: 300px;
background-color: rgb(163, 162, 167);
padding: 15px;
box-shadow: 0 10px 5px  rgba(36, 35, 35, 0.4);
border: 5px;
border-radius: 5px;

}

h1{

text-align: center;
font-weight: bold;
margin-bottom: 8px;
}


label{

display: block;
margin-bottom: 10px;
font-weight: bold;

}

input{
border: none;
outline: none;
padding: 8px;
width: 95%;
border-radius: 5px;
margin-bottom: 8px;

}

button{
width: 100%;
padding: 8px;
background-color: rgb(123, 123, 139);
cursor: pointer;
border: none;
border-radius: 5px;
font-weight: bold;

}

button:hover{
    background-color: beige;
}

#Mensagem-erro{
    color: rgb(224, 62, 62);
   
}